<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<insert id="userInsert" parameterType="member">
		INSERT INTO member VALUES(
		#{userId}, #{userPass}, #{userName}
		)
	</insert>

	<!-- 
	<select id="idCheck" parameterType="member" resultType="member">
		SELECT * 
		 FROM member 
		 WHERE userid = '${userId}'
	</select>
	 -->
	<select id="idCheck" parameterType="com.javassem.domain.MemberVO" resultType="com.javassem.domain.MemberVO">
		SELECT * 
		FROM member
		WHERE userid=#{userId}
		<if test="userPass != null">
		AND userpass=#{userPass}
		</if>
	</select>
</mapper>