<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 1. 멤버변수 값을 지정 (1) 생성자 이용 -->
	<bean id="member" class="ex2_value_ref.MemberBean">
		<constructor-arg value="hong"></constructor-arg>
		<constructor-arg value="25"></constructor-arg>
		<constructor-arg value="heyheyhey"></constructor-arg>
	</bean>
	<!-- 1. 멤버변수 값을 지정 (1) setter 이용 -->
	<bean id="member2" class="ex2_value_ref.MemberBean">
		<property name="name" value="hong2"></property>
		<property name="age" value="35"></property>
		<property name="message" value="heyhey"></property>
	</bean>

<!--  
	2. 참조형 멤버변수 지정 방식
		(1) 생성자 이용
-->
	<bean id="dao" class="ex2_value_ref.MemberDAO">
		<constructor-arg ref="member"></constructor-arg>
	</bean>
<!--  
	2. 참조형 멤버변수 지정 방식
		(1) setter 이용
-->
	<bean id="dao2" class="ex2_value_ref.MemberDAO">
		<property name="memberBean" ref="member2"></property>
	</bean>
</beans>
